.popup {
    display: flex;
    flex-direction: column;
    overflow: auto;

  }
  
  .question-container {
    display: flex;
    margin-bottom: 20px;
    
    height: 150px;
    border-width: 50px;
    border-color: black;
    border-radius: 10px;
    overflow:hidden;
  }
  
  .image-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .content-container {
    flex: 2;
  }
  
  .content-container h3 {
    margin-top: 0;
  }
  
  .content-container p {
    margin: 0;
  }
  
  .hr {
    border-top: dotted 5px;
    border-spacing: 115px;
    margin: 0px 246px 30px;
  }