.popup {
    display: flex;
    flex-direction: column;
  }
  
  .question-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .image-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .content-container {
    flex: 2;
  }
  
  .content-container h3 {
    margin-top: 0;
  }
  
  .content-container p {
    margin: 0;
  }
  