.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 89, 89);
    padding: 20px;
    border: 1px solid #00a2ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 69vh;
    height: auto;
    max-height: 83vh;
    overflow:auto;
  }
  
  .popup-title {
    margin: 8px auto 8px auto;
  }
  
  .user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-dp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-info {
    text-align: center;
  }
  