/* Navbar.css */
.navbar {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  margin-right: auto;
  /* Pushes logo to the left */
}

.logoImg {
  width: 100px;
  /* Adjust according to your logo size */
  height: auto;
}

.links {
  margin-left: auto;
  /* Pushes links to the right */
}

.link {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  /* Adjust spacing between logo and links */
}

.logout {
  margin-left: 20px;
  /* Add spacing between links and logout button */
}

.logoutButton {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #cc3700;
}